<?php
$database_type = 'mysql';
$database_default = 'cacti';
$database_hostname = 'localhost';
$database_username = 'cactiuser';
$database_password = 'cactiuserpassword';
$database_port = '3306';
$database_ssl = false;
?>
